<div class="header">
  <p>Patient Management System</p>
</div>
<!--div with a mat card-->
<div class="mat-card">
  <mat-card>
   <!--mat card header and Login here!-->
    <mat-card-header>
      <mat-card-title >
       Sign In
      </mat-card-title>
    </mat-card-header>
    <!--mat card content-->
    <div class="display">
    <mat-card-content>
      <!--form tag with ngSubmit-->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!--mat form field with input-->
        <div class="mat-form-field">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>EmailId:</mat-label>
            <input matInput placeholder="xyz@domain.com"   formControlName="emailId" required>
            <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </div>
      <div style="display: flex; justify-content: center;">
      <a routerLink="/register" style="text-align: center; padding-bottom: 10px;">Don't have an Account ? Register Here</a>
    </div>
        <div class="mat-button">
        <button mat-raised-button color="primary" type="submit" style="width: 20%;" routerLink="/home">Login</button>
        </div>
      </form>
    </mat-card-content>
  </div>
  </mat-card>

